* {
  padding: 0;
  margin: 0;
 }

body {
 background-color: #2C3E50;
 color: #ECF0F1;
 transition: background-color 0.3s, color 0.3s; /* Animace pro plynulý přechod */
}

body.dark-mode {
    background-color:#333333;
    color:#F2F2F4;
}
.upper {
  text-transform: uppercase;
}

